<div class="panel-heading">
    <h3 class="panel-title">News and Information</h3>
</div>
<div class="panel-body panel-list-group">
    <ul class="list-group">
        <li class="list-group-item">
            <!-- BEGIN: Email Marketing you can trust -->
            <h4 align="center" style="margin-top: 10px;" class="text-primary">The Checkmark</h4>
            <p>Sign Up Today for Our NEW Voting Newsletter, The Checkmark!</p>
            <!-- BEGIN: Constant Contact Email List Form Button -->
            <a href="https://visitor.r20.constantcontact.com/d.jsp?llr=bsihdv9ab&amp;p=oi&amp;m=1128136942145&amp;sit=6f5wfeslb&amp;f=050a38ae-9944-4e1f-93b2-92722274d37d" class="btn btn-primary" style="margin-bottom: 10px;">Sign Up Here</a>       
        </li>
        <li class="list-group-item">
            <a href="#">City of Bryant Special Election: Election Day Voting Locations</a>
            <span class="post-date">July 28, 2016</span>
        </li>
        <li class="list-group-item">
            <a href="#">City of Bryant Special Election: Early Voting Locations</a>
            <span class="post-date">July 22, 2016</span>
        </li>
        <li class="list-group-item">
            <a href="#">City of Bryant Special Election</a>
            <span class="post-date">June 14, 2016</span>
        </li>
    </ul>
</div>
